{% extends "base.html.twig" %}

{% block title %}Shopping | Produit | Détails{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}

{% block body %}
   <h1 class="titre">Détail d'un produit</h1>

   <div class="affichage">
        <div class="profile">
            <p class="nom">Nom : {{ produit.nom }} </p>
        </div>
   </div>
{% endblock %}

