{# {% extends "base.html.twig" %}


{% block title %}Shopping | Produit | Détails{% endblock %}

{% block body %}
    <h1 class="titre">Edit Produit</h1>
{% endblock %} #}


{% extends "base.html.twig" %}

{% block title%} Shopping | Produit  {% endblock %}

{% block body %}

<div class="contenu">
    <h1 class="titre">Détails</h1>
<div class="tableau">
   
</div>

</div>
{% endblock %}
