{% extends "base.html.twig" %}

{% block title %}Shopping | Produit | Détails{% endblock %}

{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('style.css') }}"> #}
{% endblock %}

{% block body %}
   <h1 class="titre">Edit Produit</h1>
{% endblock %}

