{% extends "base.html.twig" %}

{% block title%} e-Tsena | Produit  {% endblock %}

{% block body %}

<div class="contenu">
    <h1 class="titre">Produit</h1>
</div>

<table class="tableau">
    <th>
        <td>Id</td>
        <td>Référence</td>
        <td>Catégorie</td>
        <td>Prix</td>
        <td>Action</td>
    </th>
    {% for produit in produits %}
        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.id }}</td>
            <td>{{ produit.id }}</td>
            <td>{{ produit.id }}</td>
            <td><button class="Supprimer"></button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
