{% extends "base.html.twig" %}


{% block title %}Shopping | Produit | Détails {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h1 class="titre">Edit Produit</h1>
{% endblock %}