@font-face {
    font-family: 'Sans Comic';
    src: url();
}

* {
    margin: 0;
    padding: 0;
    /* background-color: rgba(30,156,28, 0.8); */
    background-color: rgb(30,156,28);
}

.contenu {
    text-align: center;
}

h1 {
    color: rgb(45, 200, 2);
}

.titre {
    font-family: serif;
    font-size: 2em;
}

.titre2 {
    font-family: sans-serif, 'Sans Comic';
    font-style:oblique;
}


.flottant {
    float: left;
    width: 70px;
    height: 70px;
    margin: 20px;
}

.dessous {
    clear: both;
}