{% extends "Base.html.twig" %}

{% block title%} e-Tsena | Accueil {% endblock %}

{% block body %}
<div class="contenu">
    <h1 class="titre">Accueil</h1>
    <h1 class="titre2">E-Tsena</h1>
</div>

<p>
<img src="" class="" alt="Image flottant" />
Quand vous mettez en place un flottant, le texte autour l'habille. Mais comment faire si vous voulez qu'au bout d'un moment le
texte continue en-dessous du flottant ? On pourrait faire plusieurs <br /> à la suite, mais ça ne serait ni élégant ni très propre...
En gros, on aimerait pouvoir faire ça :
Quand vous mettez en place un flottant, le texte autour l'habille. Mais comment faire si vous voulez qu'au bout d'un moment le
texte continue en-dessous du flottant ? On pourrait faire plusieurs <br /> à la suite, mais ça ne serait ni élégant ni très propre...
En gros, on aimerait pouvoir faire ça :
Quand vous mettez en place un flottant, le texte autour l'habille. Mais comment faire si vous voulez qu'au bout d'un moment le
texte continue en-dessous du flottant ? On pourrait faire plusieurs <br /> à la suite, mais ça ne serait ni élégant ni très propre...
En gros, on aimerait pouvoir faire ça :
</p>


{% endblock %}
