{% extends "Base.html.twig" %}

{% block title%} e-Tsena | Accueil {% endblock %}

{% block body %}
<div class="contenu">
    <h1 class="titre">Accueil</h1>
</div>
<div class="icons">

</div>
{% endblock %}
